@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

// menu wrapper
.menu-list {
    width: 224px;
    .menu-popper {
        padding: 8px 0;
    }
    // menu items
    .menu-item {
        margin-left: 0px;
    }
}

// MENU ITEM
.menu-item {
    // width: 100%;
    // font-family: 'ProximaNova', 'IBM Plex Sans', 'Roboto', sans-serif;
    width: 223px;
    height: 42px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 0;
    color: #111 !important;
    font-weight: 600;
    line-height: 1.8rem;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// HEADER
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;

    .back-btn {
        width: 50px;
        height: 100%;
        font-size: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        border-radius: 100px;
        cursor: pointer;
    }

    .header-title {
        font-size: 18px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        user-select: none;
    }
}
