.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 18px;
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    // background-color: #ccc;
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search,
.search-result {
    width: 361px;
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
}

.search {
    height: var(--search-height);
    padding-left: 16px;
    background-color: #1618230f;
    border-radius: 92px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1.5px solid transparent;
    transition: all 0.25s;

    &::before {
        content: '';
        position: absolute;
        top: calc(var(--search-top-spacer) / 2);
        right: var(--search-button-width);
        height: calc(var(--search-height) - var(--search-top-spacer));
        width: 2px;
        background-color: rgba(22, 24, 35, 0.13);
    }
    .search-input {
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        color: #828282;
        background-color: transparent;
        flex: 1;
        caret-color: var(--primary);
        padding-right: 40px;
        transition: all 0.25s;
    }

    .search-input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.13);
    }
}

.clear-btn,
.loading-icon {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.32);
    cursor: pointer;
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    cursor: pointer;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.22);
    transition: all 0.25s;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
